<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div class="task-line">
    <input type="checkbox" <%= "checked" if task.completed == true %> >
    <label><%= link_to task.title, task_path(task) %></label>
    <%= link_to "[Delete]", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %><i class="far fa-trash-alt"></i>
  </div>
<% end %>

<hr>

<%= link_to "Add a new task!", new_path %>


