<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div class="task-line">
    <input type="checkbox" <%= "checked" if task.completed == true %> >
    <label><%= link_to task.title, task_path(task) %></label>
  </div>
<% end %>



