<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div class="task-line">
    <input type="checkbox" <%= "checked" if task.completed == true %> >
    <label><%= link_to task.title, task_path(task) %></label> ∙
    <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<hr>

<%= link_to '<i class="fas fa-plus"></i> Add a new task!'.html_safe, new_path %>

