// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: sans-serif;
  padding: 25px;
}

h1 {
  margin-bottom: .5em;
}

.task-line {
  margin-bottom: 1em;
}

.details {
  width: 400px;
  background-color: #D8D8D7;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 1em;
}

.width-control {
  width: 50%;
}
